{% extends 'main.html' %}


{% block content %}

<main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'users:edit-profile' %}" style="background-color: #1d3557;color: #fff"><i class="im im-edit"></i> Edit</a>
              <img class="avatar avatar--xl dev__avatar" src="{{profile.profile_img.url}}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.short_intro}}</p>
              <p class="dev__location">{{profile.location}}</p>
              <ul class="dev__social">
                <li>
                  <a title="Github" href="{{profile.social_github}}" target="_blank" style="font-size: 30px;"><i class="fa fa-github" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a title="Youtube" href="{{profile.social_youtube}}" target="_blank" style="font-size: 30px;"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a title="Twitter" href="{{profile.social_twitter}}" target="_blank" style="font-size: 30px;"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank" style="font-size: 30px;"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a title="Personal Website" href="{{profile.social_website}}" target="_blank" style="font-size: 30px;"><i class="fa fa-laptop" aria-hidden="true"></i></a>
                </li>
              </ul>
              <a href="#" class="btn btn--sub btn--lg">Send Message </a>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
                {{profile.bio}}
            </p>
          </div>
          <div class="settings">
            <h3 class="settings__title">Skills</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'users:add-skill' %}" style="background-color: #1d3557;color: #fff"><i class="im im-plus"></i> Add Skill</a>
          </div>

          <table class="settings__table">

            {% for workexperience in profile.workexperience_set.all %}

            <tr>
              <td class="settings__tableInfo">
                <h4>{{workexperience.job_title}}</h4>
                <p>
                  {{workexperience.description}}
                </p>
              </td>
              <td class="settings__tableActions">
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'users:edit-work-experience' workexperience.id %}"><i class="im im-edit"></i> Edit</a>
                <a class="tag tag--pill tag--main settings__btn" href="{% url 'users:delete-work-experience' workexperience.id %}"><i class="im im-x-mark-circle-o"></i>
                  Delete</a>
              </td>
            </tr>
            
            {% endfor %}



          </table>

          <div class="settings">
            <h3 class="settings__title">Projects</h3>
            <a class="tag tag--pill tag--sub settings__btn tag--lg" href="{% url 'projects:create-project' %}" style="background-color: #1d3557;color: #fff"><i class="im im-plus"></i> Add Project</a>
          </div>

          <table class="settings__table">
            {% for project in profile.project_set.all %}
              <tr>
                <td class="settings__thumbnail">
                  <a href="{% url 'projects:single-project' project.id %}"><img src="{{project.featured_img.url}}" alt="Project Thumbnail" /></a>
                </td>
                <td class="settings__tableInfo">
                  <a href="{% url 'projects:single-project' project.id %}">{{project.title}}</a>
                  <p>
                    {{project.description|truncatechars:100}}
                  </p>
                </td>
                <td class="settings__tableActions">
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'projects:edit-project' project.id %}"><i class="im im-edit"></i> Edit</a>
                  <a class="tag tag--pill tag--main settings__btn" href="{% url 'projects:delete-project' project.id %}"><i class="im im-x-mark-circle-o"></i>
                    Delete</a>
                </td>
              </tr>
            
            {% endfor %}



          </table>
        </div>
      </div>
    </div>
</main>

{% endblock content %}