{% extends 'main.html' %}

{% load static %}

{% block content %}


  <main class="projects">
    <section class="hero-section text-center" style="background-color: #8d99ae;">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search for <span>Projects</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form search-form" action="{% url 'projects:projects' %}" method="GET">
            <div class="form__field">
              <label for="formInput#search">Search By Projects </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                value="{{search_query}}" placeholder="Search Projects" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" />
          </form>
        </div>
      </div>
    </section>
    <!-- Search Result: DevList -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
            
            {% for project in searched_page.object_list %}
            
                <div class="column">
                    <div class="card project">
                    <a href="{% url 'projects:single-project' project.id %}" class="project" style="width: 100%">
                        <img class="project__thumbnail" src="{{ project.featured_img.url }}" alt="project thumbnail"  />
                        <div class="card__body">
                            <h3 class="project__title"> {{ project.title }} </h3>
                            <p><a class="project__author" href="{% url 'users:single-profile' project.owner.id %}">By {{ project.owner.name }} </a></p>
                            <p class="project--rating">
                                <span style="font-weight: bold;">{{ project.upvote_users.count }}</span> up votes
                            </p>
                            <div class="project__tags">
                                {% for tag in project.tags.all %}
                                
                                  <span class="tag tag--pill tag--main">
                                  <small>{{ tag }}</small>
                                  </span>
                                
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                    </div>
                </div>
                
            {% endfor %}
        </div>
      </div>
    </section>


  </main>

  {% include 'pagination.html' with current_page=searched_page page_range=page_range %}



{% endblock content %}