{% extends 'main.html' %}


  {% block style %}
  <style>
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        color: #353535;
      }
      
      .filter-jobs-form {
        background-color: #f9f9f9;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
      }

      .filter-jobs-form .search-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
      }
      
      .filter-jobs-form .filter-form {
        display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .filter-jobs-form .form-group {
      flex-basis: calc(20.00% - 10px);
      margin-bottom: 10px;
    }
    
    .filter-jobs-form label {
      display: block;
      margin-bottom: 5px;
      font-weight: 500;
    }
    
    .filter-jobs-form select {
      width: 100%;
      height: 40px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      font-size: 16px;
      color: #333;
    }

    .filter-jobs-form .btn-search {
      width: 100px;
      height: 40px;
      border-radius: 5px;
      font-size: 16px;
      background-color: #337ab7;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    .filter-jobs-form .btn-search:hover {
      background-color: #286090;
    }
    .search-page__main-content {
      display: grid;
      grid-template-columns: 70% 30%;
      max-width: 1350px;
   
    }

    .red-btn {
      background-color: #fff;
        color: #ff0000;
        width: 100%;
        border: 1px solid #ff0000;
        margin: 20px 0;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
      }

    .red-btn:hover {
      color: #fff;
      background-color: #ff0000;
    }
    
    .search-page__job-preview {
        padding: 0 30px;
        position: sticky;
        overflow: scroll;
        margin-right: 2vw;
        height: 120vh;
        border: 3px solid var(--color-light);
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 50px;
      }
      
      .job-details__paragraph {
        font-size: 16px;
        color: #353535;
        margin: 20px 0;
    }
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    .search-page__job-preview::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    .search-page__job-preview {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .job-details__header {
      margin-bottom: 20px;
        padding-top: 20px;
        position: sticky;
        top: -10px;
        z-index: 1;
        background-color: #fff;
      }

      .job-details__title {
        font-size: 30px;
        font-weight: 500;
        color: #1b1b1b;
      }
      
      .job-details__overview {
        border-top: 1px solid var(--color-light);
        padding: 20px 0;
    }

    .job-details__divider {
      border-bottom: 1px solid var(--color-light);
    }
    
    .job-details__second-title {
      font-size: 23px;
      color: #353535;
      font-weight: 400;
      margin: 30px 0 0;
    }
    .jd-page__employer-overview {
      border: 3px solid var(--color-light);
      height: 500px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
    }
    
    .employer-long-overview__top {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .employer-long-overview__top-left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .employer-long-overview__name {
        font-size: 30px;
        font-weight: 500;
        color: #1b1b1b;
        margin-bottom: 10px;
        text-align: center;
      }
      
      .employer-long-overview__short-desc {
        font-size: 16px;
        color: #353535;
        margin-bottom: 10px;
        text-align: center;
      }
      
      .employer-long-overview__basic-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;
        font-size: 14px;
      }
    </style>
  {% endblock style %}


  {% block content %}
  

  <!-- Main Section -->
<main class="main">
    <section class="devlist">
      <div class="container">
        <div class="search search-jobs search-page__main-content">
            <div class="search-page__job-preview">
            <div class="job-details__header">
                <div class="job-details__title">{{job.title}}</div>
                {% comment %} <div class="job-details__sub-title">IncepIT</div> {% endcomment %}
                <div class="job-details__apply">
                    <a href="{% url 'jobs:applied-cv-form' job.id %}" class="job-details__apply-btn red-btn">Apply Now</a>
                </div>
            </div>

            <div class="job-details__body">
                <div class="job-details__overview">
                    <div class="dev__skills">
                      {% for skill in job.skills.all %}
                      
                      <span class="tag tag--pill tag--main">
                        <small>{{skill}}</small>
                      </span>
                      {% endfor %}

                </div>
                    <ul>
                        <li> 
                          Salary: {{job.start_salary}} - {{job.end_salary}} USD
                        </li>
                        <li>{{job.working_model}}</li>
                    </ul>
                </div>
                <div class="job-details__divider"></div>
                <h2 class="job-details__second-title">Top Reasons To Join Us</h2>
                <ul>

                    {{job.advantage}}
                    
                </ul>
                <h2 class="job-details__second-title">Job Description</h2>
                <p class="job-details__paragraph">

                    {{job.description}}

                </p>
                <ul>




                </ul>
                <h2 class="job-details__second-title">Your Skills and Experience</h2>
                <p class="job-details__paragraph">

                  {{job.qualification}}

                </p>

                <h2 class="job-details__second-title">Why You'll Love Working Here</h2>
                <p class="job-details__paragraph">

                  {{job.benefit}}

                </p>


            </div>
                <!-- <div class="job-details__divider"></div>
                <h2 class="job-details__second-title">More Jobs For You</h2>
                    <div class="employer-long-overview__jobs">
                        <div style="width: 250px;" href="#" class="red-btn">Get similar jobs by email</div>
                    </div>
                    <div class="column job-card">
                <div class="dev">
                  <a href="/profile.html" class="card__body">
                    <div class="dev__profile">
                      <img class="avatar avatar--md" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNnBjSnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--9a72afb934c2fa7cb5587f07c444353e432aec32/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--89a7283b6fdfb4208cdc2b440a36613a6fae974c/avt.jpg" alt="image" />
                      <div class="dev__meta">
                        <h3>Senior Java Developer (Spring, J2EE) ~ $2500</h3>
                        <h5>Sign in to view</h5>
                      </div>
                    </div>
                    <p class="dev__info">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                      veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                      animi, exercitationem molestias nam doloremque architecto odit.
                    </p>
                    <div class="dev__skills">
                      <span class="tag tag--pill tag--main">
                        <small>Java</small>
                      </span>
                      <span class="tag tag--pill tag--main">
                        <small>Spring</small>
                      </span>
                      <span class="tag tag--pill tag--main">
                        <small>J2EE</small>
                      </span>
                    </div>
                  </a>
                </div>
              </div>
                    <div class="column job-card">
                    <div class="dev">
                      <a href="/profile.html" class="card__body">
                        <div class="dev__profile">
                          <img class="avatar avatar--md" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBei9USnc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--fd20e1af8121ff727c9e8bae8b9fbac8c5f97565/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--a9d835d302ad9f096170a85b9d142ff095a42b9d/LogoGS_SLogan_Original%20(1).png" alt="image" />
                          <div class="dev__meta">
                            <h3>Data Engineer</h3>
                            <h5>Sign in to view</h5>
                          </div>
                        </div>
                        <p class="dev__info">
                          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, ducimus inventore! Sunt,
                          veniam veritatis? Veritatis placeat, deleniti iure tempore veniam perspiciatis, soluta cupiditate
                          animi, exercitationem molestias nam doloremque architecto odit.
                        </p>
                        <div class="dev__skills">
                          <span class="tag tag--pill tag--main">
                            <small>Elixir</small>
                          </span>
                          <span class="tag tag--pill tag--main">
                            <small>F#</small>
                          </span>
                          <span class="tag tag--pill tag--main">
                            <small>.NET</small>
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>
                    <div class="column job-card">
                    <div class="dev">
                      <a href="/profile.html" class="card__body">
                        <div class="dev__profile">
                          <img class="avatar avatar--md" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBMFFwSVE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--726f9b5711b6cbc5c61b0870034c1c636d45c48d/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--a9d835d302ad9f096170a85b9d142ff095a42b9d/logo-square.png" alt="image" />
                          <div class="dev__meta">
                            <h3>3D Game/Application Designer (Unity)</h3>
                            <h5>Sign in to view </h5>
                          </div>
                        </div>
                        <ul>
                            <li>Salary up to $3500</li>
                            <li>13th month of salary</li>
                            <li>100% salary on probation time</li>
                        </ul>
                        <div class="dev__skills">
                          <span class="tag tag--pill tag--main">
                            <small>Python</small>
                          </span>
                          <span class="tag tag--pill tag--main">
                            <small>Django</small>
                          </span>
                          <span class="tag tag--pill tag--main">
                            <small>Rest API</small>
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>
                    <div class="column job-card">
                    <div class="dev">
                      <a href="/profile.html" class="card__body">
                        <div class="dev__profile">
                          <img class="avatar avatar--md" src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBOXZRRXc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--2151040530715a5601da1d00d0ce41a97ad1e641/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RTNKbGMybDZaVjloYm1SZmNHRmtXd2RwUm1sRyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--a9d835d302ad9f096170a85b9d142ff095a42b9d/grapeccity.png" alt="image" />
                          <div class="dev__meta">
                            <h3>Tech leader / PM (JavaScript/.NET/Japanese)</h3>
                            <h5>Sign in to view </h5>
                          </div>
                        </div>
                        <ul>
                            <li>Enjoyable Team Environment</li>
                            <li>Engaging and Innovative Work</li>
                            <li>Tet Bonus on Jan and Performance Bonus on July</li>
                        </ul>
                        <div class="dev__skills">
                          <span class="tag tag--pill tag--main">
                            <small>JavaScript</small>
                          </span>
                          <span class="tag tag--pill tag--main">
                            <small>React</small>
                          </span>
                          <span class="tag tag--pill tag--main">
                            <small>SCSS</small>
                          </span>
                        </div>
                      </a>
                    </div>
                  </div> -->
            </div>

            <div class="jd-page__employer-overview">
                <div class="employer-long-overview__top">
                    <div class="employer-long-overview__logo">
                        
                        
                        <a href="{% url 'companies:single-company' job.company.id %}">
                            <img src="{{job.company.company_img.url}}">
                        </a>
                    </div>
                    <div class="employer-long-overview__top-left">
                        <h3 class="employer-long-overview__name"> {{job.company.name}} </h3>
                        <div class="employer-long-overview__short-desc">
                            {{job.full_name}}
                        </div>
                    </div>
                </div>
                <div class="employer-long-overview__main">
                    <ul class="employer-long-overview__basic-info">
                        <li>Product</li>
                        <li>1-50</li>
                        <li>Monday-Saturday</li>
                        <li>Vietnam</li>
                    </ul>
                </div>
                <div class="employer-long-overview__jobs">
                    <a href="{% url 'companies:single-company' job.company.id %}" class="red-btn">View company profile</a>
                </div>
            </div>

        </div>
      </div>
    </section>
</main>

  {% endblock content %}