{% extends 'main.html' %}


{% block style %}

  <style>
.overall{
    display: flex;
    color: #000;
}
.introduction{

    color: #000;
    height: 30vh;
    margin-right: 20px;
    margin-top: 1%;
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 70%;
}
.job #navigation{
   
    margin: 20px 0px;
    left: 50%;
    transform: translateX(-50%);

   width: 30vw;
  
   position: relative;
   background-color: #fff;
   border-radius: 10px;
}
#navigation ul{
    display: flex ;
    list-style: none;
   
}
#navigation ul li{

    padding: 10px 30px;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
   
}
#navigation ul li:hover{
   background-color: #000;
   color: #fff;
}
.navigation-active{
    background-color: #000;
   color: #fff;
}

.body {
    /* background-color: #fff; */
    border-radius: 10px;
}
.body .left h2{
    padding: 10px 0px 30px 0px;
}
.body .left .particular{
    border-top:1px solid #ccc;
     border-bottom: 1px solid #ccc;
     height: 100px;
  
     cursor: pointer;
     
}
.left .particular .middle{
    width: 75%;
    margin-left: 20px;
    font-size: 18px;
}
.body .left .particular:hover{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    color: #ef233c;
    font-weight: bold;
}

.body .right{
    background-color: #fff;
    border: 1px solid #ccc;
    /* width: 30%; */
    display: none;
    border-radius: 10px;
    
}
.juding{
    display: flex;
    align-items: top;
    margin: 15px 20px;
}
.juding>span{
    display: flex;
    margin-left:10%;
}
.star0 {
    font-size: 40px;
  }
  .star0.small{
    font-size: 25px;
  }
  .star {
    color: #ccc;
    cursor: pointer;
    border-radius: 100px;
  }
  #write_review{
    background-color: #457b9d;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border-style: none;
    cursor: pointer;
  }
  #write_review:hover{
    color: #000;
  }

.container #left{
    width: 100%;
}

.container{
    display: flex;
    
}
.left .particular img{
    width: 70px;
}

.body .left .particular{
    display: flex;
    align-items: center;
}
.threepart{
   margin-bottom: 20px;
   background-color: #fff;
   border: 1px solid #ccc;
   padding: 10px 10px 20px 10px;
   border-radius: 10px;
}
.hot #top{
    background-color: #fb8500;
    width: 40%;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.skills{
    padding: 2px 7px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
}
.skills:hover{
    border: 1px solid #ef233c;
    color: #ef233c;
}
#overallRate{
    /* display: flex;
    align-items: center; */
    padding: 10px 15px;
}
#overallRate .star0{
   
 display: flex;
 justify-content: center;
 align-items: center;
   
    font-size: 50px;
}
.top-reviews{
    margin: 20px;
}
/* .comment{
    margin: 30px 10px ;
} */
.comment{
    display: block;
}
.comment .title{
    font-size:25px;
}
.eachcomment{
    display: flex;
   align-items: center;
   

   margin: 40px 10px;
}
.eachcomment .user{
    margin-right: 10%;
}
/* JOBS CSS */

.jobs.des{
    display: flex;
    align-items: center;
}
.job.des .circleImage{
    
    width: 9vw;
    height: 9vw;
   
}
.jobs.des img{
    margin: 2% 5%;
    width: 9vw;
    height: 9vw;
    border: 1px solid #8d99ae;
    border-radius: 50%;
}
.jobs.tag{
    display: flex;
    margin: 0% 25% 2% 25%;
}
.jobs.tag .tagName{
   
    background-color: #8da9c4;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 6px 12px;
}
.jobs.sections{
   
    margin: 20px 0;
    border-bottom: 1px solid #adb5bd;
    cursor: pointer;
}
.jobs.sections:hover{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    

}
.container0{
    width: 60vw;    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.jobs.name{
    width: 60%
}
.headers__actions {
        padding: 30px 20px;
        flex: 0 0 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .headers__actions>.ibutton:first-child {
        margin-bottom: 10px;
        text-decoration: none;
    }
  </style>
{% endblock style %}


{% block content %}


  <!-- Main Section -->
  <div class="overall">
    <div class="introduction">
        <div id="img">
            <img alt="Toshiba Software Development (Viet Nam) Co, Ltd Vietnam Big Logo" data-controller="lazyload"  height="152" width="170" class=" lazyloaded" src="{{company.company_img.url}}">

        </div>
       
        <div class="info">
            <h2>   {{company.name}}</h2><br>
            <span style="color: black"><i class="fa fa-map-marker" aria-hidden="true" style="margin-right: 10px;color: #5aa5b9"></i>Ho Chi Minh, Ha
                Noi, Da Nang,...</span><br>
            <span style="color: black"><i class="fa fa-circle" aria-hidden="true"
                    style="margin-right: 10px;font-size: 10px;color: #5aa5b9"></i>{{company.type}}</span>
        </div>
    </div>
    <div class="container">
        <div id="left">

            <div class="job">
                <div id="navigation">
                    <ul>
                        <li id="jobs">Jobs</li>
                        <li id="reviews">Reviews</li>
                    </ul>
                </div>
                <div class="body">
                    <div class="left">

                        <div class="threepart">
                            <h2>Overview about FPT Software</h2>
                         
                            <div class="headers__actions">
                                <a class="button ibutton full-width ibutton-red" rel="nofollow" href="{% url 'companies:review-form' company.id %}">Write review</a>
                                <form id="follow-form" data-controller="employers--follow" data-employers--follow-yeah-robby-url-value="https://itviec.com/assets/roby-jrjdyeah-f2374e5dc33afdf35884e55c8e6ac807048f9b5e4e37b365f5558dde5cc9f116.png" data-employers--follow-sad-robby-url-value="https://itviec.com/assets/robby-sad-a1fb55a6e3945a12eff5fb75d5bbf4e34784cea4ae905ac0a90a7c2b76507983.png" data-action="ajax:success->employers--follow#success ajax:error->employers--follow#error" data-confirm-email-for-jr="true" class="button_to" method="post" action="/companies/toshiba-software-development-viet-nam-co-ltd/followings?locale=en" data-remote="true">
                                  {% comment %} <button id="follow-button" class="loadable ibutton ibutton-follow full-width" data-disable="true" type="submit">Follow</button> {% endcomment %}
                                  <input type="hidden" name="authenticity_token" value="FWMbto_gfe-6gZJNkYUfz_LWS7mGKGtR5oSUOPtLWt6KG15-aheyXO4Nks5L4byQZ4SaL5GyR-tl4r-EN4uVCA" autocomplete="off">
                                </form>
                            </div>
                            <div>
                                <div style="font-weight: bold;">
                                    The leading provider of software outsourcing services in Vietnam</div> <br>
                                <div style="font-style: italic;">“ FPT Software is part of FPT Corporation (FPT –
                                    HoSE)
                                    – the global leading technology, outsourcing and IT services group headquartered
                                    in
                                    Vietnam with nearly US$2 billion in revenue and more than 28000 employees.
                                    Qualified
                                    with CMMI Level 5 & ISO 27001:2013, ASPICE LEVEL 3, FPT Software delivers
                                    world-class services in Smart factory, Digital platform, RPA, AI, IoT,
                                    Enterprise
                                    Mobilization, Cloud, AR/VR, Embedded System, Managed service, Testing, Platform
                                    modernization, Business Applications, Application Service, BPO and more services
                                    globally from delivery centers across the United States, Japan, Europe, Korea,
                                    China, Australia, Vietnam and the Asia Pacific.
                                    <br><br>
                                    In 2017, FPT Software has been placed in top 10 of the ranking for three
                                    consecutive
                                    years. Among top 10, FPT Software is the only IT Company.
                                </div>
                            </div>
                            <h2>Our Key Skills</h2>
                            <div class="skills">Java</div>
                            <div class="skills">C++</div>
                            <div class="skills">English</div>
                            <div class="skills">Android</div>
                            <div class="skills">SQL</div>
                            <div class="skills">.NET</div>
                        </div>
                        <div class="threepart">
                            <h2>FPT Software Jobs</h2>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">Senior SAP Fiori Consultant - Signing Bonus Up to 40M</div>
                                <div class="hot">
                                    <div id="top" style="color: #fff">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                </div>
                            </div>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">SAP ABAP Developer - Signing Bonus Up to 40M</div>
                                <div class="hot">
                                    <div id="top" style="color: #fff">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                </div>

                            </div>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">Project Manager for Japan Market - Salary Up to $4000</div>
                                <div class="hot">
                                    <div id="top" style="color: #fff">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                </div>
                            </div>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">Technical Leader (.NET) – Salary Up to $3500</div>
                                <div class="hot">
                                    <div id="top" style="color: #fff">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                    <div style="color: #a6a8ab">Ha Noi</d>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                        <div class="rating">
                            <div id="overallRate">
                                <h2 style="font-size: 25px;">Overall Rating</h2>

                                <div class="star0">
                                    <div
                                        style="font-size: 40px;margin-right: 30px;margin-top: 10px;font-weight: bold;">4.2</div>
                                    <span class="star" id="star1" onclick="setRating(1)" style="font-size: 50px;">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)"  style="font-size: 50px;">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)"  style="font-size: 50px;">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)"  style="font-size: 50px;">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)" style="font-size: 50px;">&#9733;</span>
                                </div>
                            </div>


                            <div class="juding">
                                <span style="font-size: 20px;width: 60%; color: #0077b6">Salary & benefits</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)" style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)" style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)" style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)" style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)" style="font-size: 25px;">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%; color: #0077b6">Training & learning</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)"style="font-size: 25px;">&#9733; </span>
                                    <span class="star" id="star2" onclick="setRating(2)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)"style="font-size: 25px;">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%;color: #0077b6">Management cares about
                                    me</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)"style="font-size: 25px;">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%;color: #0077b6">Culture & fun</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)"style="font-size: 25px;">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%;color: #0077b6">Office & workspace</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)"style="font-size: 25px;">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)"style="font-size: 25px;">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 0 10%;">
                        <div class="top-reviews">
                            <h2>Top Reviews</h2>
                            <div class="eachcomment">
                                <div class="user">Name user</div>
                                <div class="comment">
                                    <span class="title">Nhiều thử thách</span>
                                    <div class="star0 small">
                                        <span class="star" id="star1" onclick="setRating(1)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star2" onclick="setRating(2)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star3" onclick="setRating(3)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star4" onclick="setRating(4)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star5" onclick="setRating(5)"style="font-size: 25px;">&#9733;</span>
                                    </div>
                                    <span>Văn phòng đẹp, quy trình làm việc chuyên nghiệp, đồng nghiệp và sếp thân
                                        thiện</span>
                                </div>
                            </div>

                            <div class="eachcomment">
                                <div class="user">Name user</div>
                                <div class="comment">
                                    <span class="title">Môi trường tốt cho người mới</span>
                                    <div class="star0 small">
                                        <span class="star" id="star1" onclick="setRating(1)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star2" onclick="setRating(2)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star3" onclick="setRating(3)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star4" onclick="setRating(4)"style="font-size: 25px;">&#9733;</span>
                                        <span class="star" id="star5" onclick="setRating(5)"style="font-size: 25px;">&#9733;</span>
                                    </div>
                                    <div>Văn phòng rộng rãi, thời gian thoải mái. Đồng nghiệp thân thiện</div>
                                </div>
                            </div>
                            

                            <button id="write_review">Write Review</button>
                        </div>
                    </div>
                </div>
                <div class="overview"></div>
                <div class="locations"></div>
            </div>
            <div id="right">
                <div class="rating"></div>
                <div class="reviews"></div>
            </div>
        </div>
    </div>
</div>
    <script>
        function setRating(rating) {
    for (var i = 1; i <= 5; i++) {
      var star = document.getElementById("star" + i);
      if (i <= rating) {
        star.classList.add("selected");
      } else {
        star.classList.remove("selected");
      }
    }
  }
document.querySelector('#jobs').classList.add('navigation-active');



document.querySelector('#navigation #jobs').addEventListener('click', ()=>{
  document.querySelector('#jobs').classList.add('navigation-active')
  document.querySelector('#reviews').classList.remove('navigation-active')
  document.getElementsByClassName('right')[0].style.display = 'none';
  document.getElementsByClassName('left')[0].style.display = 'block';
})
document.querySelector('#navigation #reviews').addEventListener('click', ()=>{
  document.querySelector('#jobs').classList.remove('navigation-active')
  document.querySelector('#reviews').classList.add('navigation-active')
  document.getElementsByClassName('right')[0].style.display = 'block';
  document.getElementsByClassName('left')[0].style.display = 'none';
})
    </script>
{% endblock content %}
