<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />

    <title>Company</title>
</head>

<body>
    <!-- <div class="header">
        <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul> -->
    <!-- </div> -->
    <div class="container">
        <div id="left">
            <div class="introduce">
                <div id="img"><img src="/img/fpt.png" alt=""> </div>
                <div class="info">
                    <h2> FPT Software</h2><br>
                    <span>Ho Chi Minh, Ha Noi, Da Nang, Others</span><br>
                    <span>Outsourcing</span>
                    <span style="margin-left: 50px">Vietnam</span>
                    <br>
                    <span>Monday- Friday</span><br>

                </div>
                <div class="follow">
                    <button>Write Review</button><br>
                    <button>Follow</button>
                </div>
            </div>
            <div class="job">
                <div id="navigation">
                    <ul>
                        <li>Jobs</li>
                        <li>Reviews</li>
                    </ul>
                </div>
                <div class="body">
                    <div class="left">
                        <div class="threepart">
                            <h2>FPT Software Jobs</h2>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">Senior SAP Fiori Consultant - Signing Bonus Up to 40M</div>
                                <div class="hot">
                                    <div id="top">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                </div>
                            </div>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">SAP ABAP Developer - Signing Bonus Up to 40M</div>
                                <div class="hot">
                                    <div id="top">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                </div>

                            </div>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">Project Manager for Japan Market - Salary Up to $4000</div>
                                <div class="hot">
                                    <div id="top">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                </div>
                            </div>
                            <div class="particular">
                                <img src="/img/fpt.png" alt="">
                                <div class="middle">Technical Leader (.NET) – Salary Up to $3500</div>
                                <div class="hot">
                                    <div id="top">Hot</div>
                                    <span style="color: #a6a8ab">Ho Chi Minh</span>
                                    <div style="color: #a6a8ab">Ha Noi</d>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="threepart">
                            <h2>Overview about FPT Software</h2>
                            <div>
                                <div style="font-weight: bold;">
                                    The leading provider of software outsourcing services in Vietnam</div> <br>
                                <div style="font-style: italic;">“ FPT Software is part of FPT Corporation (FPT – HoSE)
                                    – the global leading technology, outsourcing and IT services group headquartered in
                                    Vietnam with nearly US$2 billion in revenue and more than 28000 employees. Qualified
                                    with CMMI Level 5 & ISO 27001:2013, ASPICE LEVEL 3, FPT Software delivers
                                    world-class services in Smart factory, Digital platform, RPA, AI, IoT, Enterprise
                                    Mobilization, Cloud, AR/VR, Embedded System, Managed service, Testing, Platform
                                    modernization, Business Applications, Application Service, BPO and more services
                                    globally from delivery centers across the United States, Japan, Europe, Korea,
                                    China, Australia, Vietnam and the Asia Pacific.
                                    <br><br>
                                    In 2017, FPT Software has been placed in top 10 of the ranking for three consecutive
                                    years. Among top 10, FPT Software is the only IT Company.
                                </div>
                            </div>
                            <h2>Our Key Skills</h2>
                            <div class="skills">Java</div>
                            <div class="skills">C++</div>
                            <div class="skills">English</div>
                            <div class="skills">Android</div>
                            <div class="skills">SQL</div>
                            <div class="skills">.NET</div>
                        </div>

                    </div>
                    <div class="right">

                        <div class="rating">
                            <h2>Overall Rating</h2>
                            <hr>
                            <div class="star0">
                                <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                            </div>
                            <hr>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%; color: #0077b6">Salary & benefits</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%; color: #0077b6">Training & learning</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%;color: #0077b6">Management cares about me</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%;color: #0077b6">Culture & fun</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                                </div>
                            </div>
                            <div class="juding">
                                <span style="font-size: 20px;width: 60%;color: #0077b6">Office & workspace</span>
                                <div class="star0 small">
                                    <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                    <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                    <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                    <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                    <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                                </div>
                            </div>
                        </div>
                        <div class="top-reviews">
                            <h2>Top Reviews</h2>
                            <span>Nhiều thử thách</span>
                            <div class="star0 small">
                                <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                            </div>
                            <span>Văn phòng đẹp, quy trình làm việc chuyên nghiệp, đồng nghiệp và sếp thân thiện</span>
                            <hr>
                            <span>Môi trường tốt cho người mới</span>
                            <div class="star0 small">
                                <span class="star" id="star1" onclick="setRating(1)">&#9733;</span>
                                <span class="star" id="star2" onclick="setRating(2)">&#9733;</span>
                                <span class="star" id="star3" onclick="setRating(3)">&#9733;</span>
                                <span class="star" id="star4" onclick="setRating(4)">&#9733;</span>
                                <span class="star" id="star5" onclick="setRating(5)">&#9733;</span>
                            </div>
                            <div>Văn phòng rộng rãi, thời gian thoải mái. Đồng nghiệp thân thiện</div>
                            <button id="write_review">Write Review</button>
                        </div>
                    </div>
                </div>
                <div class="overview"></div>
                <div class="locations"></div>
            </div>
            <div id="right">
                <div class="rating"></div>
                <div class="reviews"></div>
            </div>


        </div>
        <script src="main.js"></script>
</body>

</html>