{% load static %}

  <header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'users:profiles' %}">Developers</a></li>
          <li class="header__menuItem"><a href="{% url 'projects:projects' %}">Projects</a></li>
          {% comment %} <li class="header__menuItem"><a href="l">Inbox</a></li> {% endcomment %}
          <li class="header__menuItem"><a href="{% url 'users:account' %}">Account</a></li>
          
          {% if request.user.is_authenticated %}
            <li class="header__menuItem">
              <a href="{% url 'devsearch_auth:logout' %}" class="btn btn--sub">Logout</a>
            </li>
          {% else %}
            <li class="header__menuItem">
              <a href="{% url 'devsearch_auth:login' %}" class="btn btn--sub">Login/Sign Up</a>
            </li>
          {% endif %}

        </ul>
      </nav>
    </div>
  </header>
