{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>

                <form class="form" method="POST">
                    {% csrf_token %}
                    <h2 class="form__title">Reset your password</h2>

                    <div class="form__field">
                        <label for="formInput#text"> New password: </label>
                        <input 
                            class="input input--password" 
                            id="formInput#passowrd" 
                            type="password" 
                            name="new_password" 
                            placeholder="Enter your new password" 
                        />
                    </div>

                    <div class="form__field">
                        <label for="formInput#text"> Comfirm password: </label>
                        <input 
                            class="input input--password" 
                            id="formInput#passowrd" 
                            type="password"  
                            name="comfirm_password" 
                            placeholder="Enter your comfirm password" 
                        />
                    </div>


                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                </form>
            </div>
        </div>
    </main>



{% endblock content %}


