{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>

                <form class="form" method="POST">
                    <h2 class="form__title">Password reset complete</h2>

                    <p> 
                        Your password has been reset. You can now log in with your new password.
                    </p>                    
                    <a href="{% url 'user_auth:login' %}">Log in</a>
                </form>
            </div>
        </div>
    </main>



{% endblock content %}


